@{
    Layout = "_LayoutCadastro";
}

<div class="container espacoDiv">
    <div id="background"></div>

    <div class="col-lg-6 aprender">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <img id="imgEstudante"
                     src="~/img/pngtree-student-learn-write-homework-thinking-about-the-problem-png-image_381912.jpg">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 d-flex justify-content-center">
                <button type="button" class="btn btnAprender btn-success">Aprender</button>
            </div>
        </div>
    </div>

    <div class="col-lg-6 lecionar">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <img id="imgProfessor"
                     src="~/img/professor-ou-cientista-personagem-de-desenho-animado-com-chapeu-de-pos-graduacao-segurando-um-ponteiro_20412-147.jpg">
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-lg-12  d-flex justify-content-center">
                <button type="button" class="btn btn-lg btnLecionar btn-primary">Ensinar</button>
            </div>
        </div>
    </div>
</div>